/*************** utility ******************/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
}

.custom-button {
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.fix {
    overflow-x: hidden;
}

/******************** Banner **********************/
.banner {
    background-color: #264653;
}

.banner p,
.banner h1 {
    color: white;
}

/****************** Featured bikes ***********************/

.underlined:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 25%;
    position: relative;
    background: rgb(172, 21, 21);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 50px;
}

.underlined:hover:after {
    width: 100%;
    left: 0;
}


/*************** My custom section ********************/
.custom-btn {
    display: block;
    width: 80%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/**************** Footer ******************/
footer ul {
    list-style-type: none;
}

footer .row a {
    text-decoration: none;
    color: white;
}